<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

</head>
<body>
	<div>
		<label for="polaer">Polazni aerodrom:</label> 
		<input type="text" id="polaer" name="polaer"><br><br> 
		<label for="odraer">Odredišni aerodrom:</label> 
		<input type="text" id="odraer" name="odraer"><br><br> 
		<label for="datpol">Datum polaska:</label>
		<input type="date" id="datpol" name="datpol"><br><br>
		<label for="datpovr">Datum povratka:</label>
		<input type="date" id="datpovr" name="datpovr"><br><br>
		<label for="brput">Broj putnika:</label>
		<input type="text" id="brput" name="brput"><br><br>
		<label for="valuta">Valuta:</label> 
		<select id="valuta" name="valuta">
			<option value="usd">USD</option>
			<option value="hrk">HRK</option>
			<option value="eur">EUR</option>
		</select> <br><br> 
		<input type="button" id="btn" value="Pretraži" />

		
	</div>
	<script>
	
	</script>
</body>

</html>